
.dashboard-card {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    padding: 20px;
    margin: 10px auto;
    text-align: center;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: azure;
}

.dashboard-profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f0f0f0;
    border: 2px solid #ddd;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    /* Center the image inside this container */
}

.dashboard-profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dashboard-text-data {
    max-width: 300px;
    overflow-wrap: break-word;
    white-space: normal;
}