.login-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    background: transparent;
    padding-bottom: 30px;
    width: 90%;
    max-width: 500px;
    /* width: 1000px; */
    text-align: center;
}

.login-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.login-text {
    color: #FF6969;
    font-size: 36px;
    font-weight: bold;
}

.inputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 400px;
    height: 59px;
    background: whitesmoke;
    border-radius: 6px;
}

.input img {
    margin: 0 15px;

}

.input input {
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.submit-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
}

.submit {
    background-color: #FF6969;
    color: white;
    padding: 15px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.submit:hover {
    background-color: #FF4C4C;
}

@media (min-width: 600px) {
    .login-container {
        width: 80%;
        max-width: 600px;
        margin-top: 100px;
    }

    .login-text {
        font-size: 42px;
    }

    .input {
        max-width: 500px;
    }

    .submit {
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    .login-container {
        width: 70%;
        max-width: 700px;
    }

    .login-text {
        font-size: 48px;
    }

    .submit {
        font-size: 22px;
    }
}

@media (min-width: 1024px) {
    .login-container {
        width: 60%;
        max-width: 800px;
    }

    .login-text {
        font-size: 54px;
    }

    .submit {
        font-size: 24px;
    }
}