.image {
    width: 800px;
    height: 50%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #f0f0f0;
}

.text {
    min-width: 300px;
    text-align: justify;
    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content-container {
    max-width: 1980px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0;
}

.button {
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
    background-color: #f0f0f0;
    border: 2px solid #333;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}